{
  "name": "styledotme",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "styledot-me-assignment/assets/sass/bootstrap.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/bootstrap/_variables.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_mixins.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_normalize.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_print.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_glyphicons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_scaffolding.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_type.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_code.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_grid.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_tables.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_forms.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_buttons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_component-animations.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_dropdowns.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_button-groups.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_input-groups.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_navs.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_navbar.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_breadcrumbs.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_pagination.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_pager.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_labels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_badges.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_jumbotron.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_thumbnails.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_alerts.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_progress-bars.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_media.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_list-group.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_panels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_responsive-embed.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_wells.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_close.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_modals.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_tooltip.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_popovers.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_carousel.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_utilities.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_responsive-utilities.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_image.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_labels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-filter.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_resize.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_responsive-visibility.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_size.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_tab-focus.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-emphasis.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_vendor-prefixes.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_alerts.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_buttons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_panels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_pagination.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_list-group.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-divider.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_forms.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_progress-bar.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_table-row.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_background-variant.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_gradients.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_center-block.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-vertical-align.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid-framework.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/style.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/bourbon/_bourbon.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_variables.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_mixins.scss",
        "styledot-me-assignment/assets/sass/modules/_variables.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_mixins.scss",
        "styledot-me-assignment/assets/sass/base/_fonts.scss",
        "styledot-me-assignment/assets/sass/base/_global.scss",
        "styledot-me-assignment/assets/sass/base/_typography.scss",
        "styledot-me-assignment/assets/sass/base/_helpers.scss",
        "styledot-me-assignment/assets/sass/sprites/_sprites.scss",
        "styledot-me-assignment/assets/sass/fonts/_icomoon.scss",
        "styledot-me-assignment/assets/sass/layouts/_layouts.scss",
        "styledot-me-assignment/assets/sass/components/_components.scss",
        "styledot-me-assignment/assets/sass/pages/_pages.scss",
        "styledot-me-assignment/assets/sass/bourbon/settings/_prefixer.scss",
        "styledot-me-assignment/assets/sass/bourbon/settings/_px-to-em.scss",
        "styledot-me-assignment/assets/sass/bourbon/settings/_asset-pipeline.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_assign-inputs.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_contains.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_contains-falsy.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-length.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-light.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-number.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-size.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_px-to-em.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_px-to-rem.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_shade.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_strip-units.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_tint.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_transition-property-name.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_unpack.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_modular-scale.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_convert-units.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_directional-values.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_font-source-declaration.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_gradient-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-angle-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-gradient-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-side-corner-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-arg-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-gradient-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_render-gradients.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_shape-size-stripper.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_str-to-num.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_animation.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_appearance.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_backface-visibility.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_background.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_background-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_border-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_calc.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_columns.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_filter.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_flex-box.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_font-face.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_font-feature-settings.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_hidpi-media-query.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_hyphens.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_image-rendering.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_keyframes.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_linear-gradient.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_perspective.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_placeholder.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_radial-gradient.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_selection.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_text-decoration.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_transform.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_transition.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_user-select.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-color.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-style.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-width.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_buttons.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_ellipsis.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_font-stacks.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_margin.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_padding.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_position.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_prefixer.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_retina-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_size.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_text-inputs.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_timing-functions.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_triangle.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_word-wrap.scss",
        "styledot-me-assignment/assets/sass/bourbon/_bourbon-deprecated-upcoming.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_image.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_labels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-filter.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_resize.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_responsive-visibility.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_size.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_tab-focus.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-emphasis.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_vendor-prefixes.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_alerts.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_buttons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_panels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_pagination.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_list-group.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-divider.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_forms.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_progress-bar.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_table-row.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_background-variant.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_gradients.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_center-block.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-vertical-align.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid-framework.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_common.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_box-shadow.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_custom-icons.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_custom-scroller.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_placeholders.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_text-truncate.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_line-clamp.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_box-orient.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_strip-unit.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-cover.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-repeat.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-img.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_vheight.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_vwidth.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_font-size.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_typography.scss",
        "styledot-me-assignment/assets/sass/layouts/header/_header.scss",
        "styledot-me-assignment/assets/sass/layouts/sidebar/_sidebar.scss",
        "styledot-me-assignment/assets/sass/layouts/footer/_footer.scss",
        "styledot-me-assignment/assets/sass/components/_button.scss",
        "styledot-me-assignment/assets/sass/components/_gridflex.scss",
        "styledot-me-assignment/assets/sass/components/_form_label.scss",
        "styledot-me-assignment/assets/sass/components/global-components/_global-components.scss",
        "styledot-me-assignment/assets/sass/components/helper-components/_helper-components.scss",
        "styledot-me-assignment/assets/sass/pages/home/home.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/bootstrap/_mixins.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_image.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_labels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-filter.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_resize.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_responsive-visibility.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_size.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_tab-focus.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-emphasis.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_vendor-prefixes.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_alerts.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_buttons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_panels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_pagination.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_list-group.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-divider.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_forms.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_progress-bar.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_table-row.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_background-variant.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_gradients.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_center-block.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-vertical-align.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid-framework.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/bootstrap/_theme.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/bootstrap/_variables.scss",
        "styledot-me-assignment/assets/sass/bootstrap/_mixins.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_image.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_labels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-filter.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_resize.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_responsive-visibility.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_size.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_tab-focus.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_reset-text.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-emphasis.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_vendor-prefixes.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_alerts.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_buttons.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_panels.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_pagination.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_list-group.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-divider.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_forms.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_progress-bar.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_table-row.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_background-variant.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_gradients.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_center-block.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_nav-vertical-align.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid-framework.scss",
        "styledot-me-assignment/assets/sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/bourbon/_bourbon.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/bourbon/settings/_prefixer.scss",
        "styledot-me-assignment/assets/sass/bourbon/settings/_px-to-em.scss",
        "styledot-me-assignment/assets/sass/bourbon/settings/_asset-pipeline.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_assign-inputs.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_contains.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_contains-falsy.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-length.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-light.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-number.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_is-size.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_px-to-em.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_px-to-rem.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_shade.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_strip-units.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_tint.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_transition-property-name.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_unpack.scss",
        "styledot-me-assignment/assets/sass/bourbon/functions/_modular-scale.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_convert-units.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_directional-values.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_font-source-declaration.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_gradient-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-angle-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-gradient-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_linear-side-corner-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-arg-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-positions-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_radial-gradient-parser.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_render-gradients.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_shape-size-stripper.scss",
        "styledot-me-assignment/assets/sass/bourbon/helpers/_str-to-num.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_animation.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_appearance.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_backface-visibility.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_background.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_background-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_border-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_calc.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_columns.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_filter.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_flex-box.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_font-face.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_font-feature-settings.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_hidpi-media-query.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_hyphens.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_image-rendering.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_keyframes.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_linear-gradient.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_perspective.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_placeholder.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_radial-gradient.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_selection.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_text-decoration.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_transform.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_transition.scss",
        "styledot-me-assignment/assets/sass/bourbon/css3/_user-select.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-color.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-radius.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-style.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_border-width.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_buttons.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_clearfix.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_ellipsis.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_font-stacks.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_hide-text.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_margin.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_padding.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_position.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_prefixer.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_retina-image.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_size.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_text-inputs.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_timing-functions.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_triangle.scss",
        "styledot-me-assignment/assets/sass/bourbon/addons/_word-wrap.scss",
        "styledot-me-assignment/assets/sass/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/components/_components.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/components/_button.scss",
        "styledot-me-assignment/assets/sass/components/_gridflex.scss",
        "styledot-me-assignment/assets/sass/components/_form_label.scss",
        "styledot-me-assignment/assets/sass/components/global-components/_global-components.scss",
        "styledot-me-assignment/assets/sass/components/helper-components/_helper-components.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/layouts/_layouts.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/layouts/header/_header.scss",
        "styledot-me-assignment/assets/sass/layouts/sidebar/_sidebar.scss",
        "styledot-me-assignment/assets/sass/layouts/footer/_footer.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/pages/_pages.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/pages/home/_home.scss",
        "styledot-me-assignment/assets/sass/pages/about-us/_about-us.scss",
        "styledot-me-assignment/assets/sass/pages/desclaimer/_desclaimer.scss",
        "styledot-me-assignment/assets/sass/pages/employement-engagement/_employement-engagement.scss",
        "styledot-me-assignment/assets/sass/pages/holistic/_holistic.scss",
        "styledot-me-assignment/assets/sass/pages/impact/_impact.scss",
        "styledot-me-assignment/assets/sass/pages/request-demo/_request-demo.scss",
        "styledot-me-assignment/assets/sass/pages/why-us/_why-us.scss",
        "styledot-me-assignment/assets/sass/pages/blog/_blog.scss",
        "styledot-me-assignment/assets/sass/pages/blog/blog1.scss",
        "styledot-me-assignment/assets/sass/pages/blog/blog2.scss",
        "styledot-me-assignment/assets/sass/pages/blog/blogs.scss",
        "styledot-me-assignment/assets/sass/pages/tc/tc.scss"
      ]
    },
    {
      "path": "styledot-me-assignment/assets/sass/modules/mixins/_mixins.scss",
      "imports": [
        "styledot-me-assignment/assets/sass/modules/mixins/_common.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_border-radius.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_box-shadow.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_custom-icons.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_custom-scroller.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_opacity.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_placeholders.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_text-truncate.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_line-clamp.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_box-orient.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_strip-unit.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-cover.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-repeat.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_background-img.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_text-overflow.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_vheight.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_vwidth.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_font-size.scss",
        "styledot-me-assignment/assets/sass/modules/mixins/_typography.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7899,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}